# Logs
backend/logs/
*.log

# Databases
*.db
*.db-journal
*.db-wal
*.db-shm

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Environment Variables
.env
backend/.env

# Node modules
node_modules/
frontend/node_modules/

# Datasets and Models (cached/downloaded data)
backend/data/
backend/models/
